// link styles
a {
    color: #045F8C;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

a:focus, a:hover {
    color: #2098D1;
}
