.button {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  font-family: 'Lato',sans-serif;
  -webkit-font-smoothing: antialiased;
}

.button .fa {
  position: relative;
  margin-left: .25em;
}

a.button {
  position: relative;
  display: inline-block;
  zoom: 1;
  padding: .75em 1.25em;
  cursor: pointer;
  background: #2098D1;
  border: none;
  color: white;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  line-height: 1.4;
}

.button[href], .button[href]:focus, .button[href]:hover {
    color: white;
}
