.group {
  zoom: 1;
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.third {
    display: block;
    width: 100%;

    @media only screen and (min-width: 681px) {
        display: inline-block;
        zoom: 1;
        vertical-align: top;
        width: 45%;
    }

    @media only screen and (min-width: 981px) {
        display: inline-block;
        zoom: 1;
        vertical-align: top;
        width: 30%;
    }

    &:nth-child(3n+1) {
        @media only screen and (min-width: 681px) {
            margin-right: 5%;
        }
        @media only screen and (min-width: 981px) {
            margin-right: 0;
        }
    }

    &:nth-child(3n+2) {
        @media only screen and (min-width: 681px) {
            margin-left: 5%;
        }
    }
}

.three-up > * {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    width: 100%;

    @media only screen and (min-width: 581px) {
        width: 49%;
    }
    @media only screen and (min-width: 1040px) {
        width: 32%;
    }

    &:nth-child(2n+1), &:nth-child(2n+2) {
        @media only screen and (min-width: 1040px) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &:nth-child(2n+2) {
        @media only screen and (min-width: 581px) {
            margin-right: 1%;
        }
    }

    &.no-gutter {
        @media only screen and (min-width: 581px) {
            width: 50%;
        }
    }
}

.three-up.no-gutter > * {
    @media only screen and (min-width: 1040px) {
        width: 33.3%;
    }
}
