.group {
  zoom: 1;
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}
