extends _layouts/base

include _modules/link/link

block content
  header(id='header', role='banner')
    .group
      a(class='logo', href='#')
        img(src='http://www.gravatar.com/avatar/d5d6b2b698378817adf0fa9336d4d8ac?s=100')
        .logo-name
          h1 Josh Sullivan
          h2 Software Engineer & Web Developer
      nav(id='nav', role='navigation', class='menu')
        ul#menu-nav_menu
            li.menu-item
                a(href='#about') About
            li.menu-item
                a(href='#portfolio') Portfolio
                li.menu-item
                    a(href='#services') Services
            li.hire.menu-item
                a(href='mailto:jaysche.sullivan@gmail.com', title='Send a message or project request to Josh') Hire Now
            
  main(id='main', role='main')
    div.intro.front.valign
      header.group.vcenter
        h1 Quality user experience through responsive web design and performant front-end development
        a(id='portfolio-button', class='button', href='#portfolio') View portfolio
          i.fa.fa-angle-down
    section.featured-work
        h1.title Featured Projects
        ul.three-up.no-gutter
            li
                a(href='#' style='background-color: #215181;')
                    img(src='images/logo-quoteflow.png')
                h3 HTML5, CSS3, jQuery, Backbone, C#
            li
                a(href='#' style='background-color: #fff;')
                    img(src='images/logo-omni.png')
                h3 HTML5, CSS3, Backbone, C#
                
      
  .footer.group
    .links
        .third
            .avatar.social-links
                img(src='http://www.gravatar.com/avatar/d5d6b2b698378817adf0fa9336d4d8ac?s=100')
            .bio
                p.bio-info.
                    Josh is a software engineer with over ten years of
                    commercial experience building web applications to produce
                    quality user experiences for clients all over the world.
        ul.third.social-links
            li
                a(href='http://twitter.com/jaysche_', target='_blank')
                    i.fa.fa-twitter
        .third
